@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
  scrollbar-gutter: stable;
}

@utility no-scrollbar {
  @apply [scrollbar-width:none] [&::-webkit-scrollbar]:hidden;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Geist, sans-serif;
}

[data-support-yes],
[data-support-no] {
  display: none;
}

@supports (view-transition-name: test) {
  [data-support] [data-support-yes] {
    display: inline;
  }
  [data-support] [data-support-no] {
    display: none;
  }
}

@supports not (view-transition-name: test) {
  [data-support] [data-support-yes] {
    display: none;
  }
  [data-support] [data-support-no] {
    display: inline;
  }
}

/* Safari */
@supports (-webkit-hyphens: none) and (not (-moz-appearance: none)) {
  [data-support] [data-support-yes] {
    display: none;
  }
  [data-support] [data-support-no] {
    display: inline;
  }
}

/* Shimmer animation for skeleton loading */
@keyframes shimmer {
  0% {
    transform: translateX(-100%);
  }
  100% {
    transform: translateX(100%);
  }
}

.animate-shimmer {
  animation: shimmer 2s infinite;
}
